!!!
%html
  %head
    %title My Sinatra Website
    %meta{name: "viewport", content: "width=device-width, initial-scale=1.0"}
    %link{rel: "stylesheet", href: "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css", integrity:"sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u", crossorigin:"anonymous"}
    %script{src: "https://code.jquery.com/jquery-3.1.1.min.js", crossorigin: "anonymous"}
    %script{src: "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js", integrity: "sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa", crossorigin:"anonymous"}
    %script{src: "https://code.highcharts.com/highcharts.src.js"}
    %script{src: "https://code.highcharts.com/modules/sunburst.js" }
    %script{src: "https://code.highcharts.com/modules/exporting.js"}
    %script{src: "helper.js", defer: 'defer'}      
    
  %body
    %div#wrapper_for_drawing.container-fluid
      .text-center
        %h1 App Desc
        %h4 Elaboration of App Desc
        #search_box
          %form
            /%label Enter twitter handle
            %input#twitterHandle{type:'text', placeholder: 'Enter twitter handle'}
            %button#search 
              %span.glyphicon.glyphicon-search
              Analyze My Tweets
            %br
            .glyphicon.glyphicon-equalizer 
              loading...
        %button.btn.btn-primary#analyzedTweets{type: "button"}
          Show Analyzed Tweets 
          %span.badge#tweetCount 
            0
        #chart{style: "min-width: 310px; max-width: 800px; margin: 0 auto;"}
        #display_user_timeline 
        %footer
          Made with
          .glyphicon.glyphicon-heart

// to inject ruby into javascript, use interpolatation 
// e.g var someVal = #{@someRuby.to_json}
:javascript
    $('#search').click( function(e) {
      var value = $('#twitterHandle').val();
      getSentiment(value, e) 
    });
    
    $('#analyzedTweets').click(function() {
      var text = $('#analyzedTweets').text();
      $('#analyzedTweets').text( 
        text == 'Show Analyzed Tweets' ? 'Hide Analyzed Tweets' : 'Show Analyzed Tweets' )
      $('#display_user_timeline').toggle()
    });


